$footer-deco-light: '../images/movie/footer-deco-light.svg';
$footer-deco-dark: '../images/movie/footer-deco-dark.svg';

.footer {
  .link {
    margin: spacing(1, 1.5);
  }
  margin-top: $spacing8;
  padding-top: $spacing3;
  padding-bottom: $spacing8;
  position: relative;
  z-index: 10;
  [dir="ltr"] & {
    color: $palette-common-white;
  }
  @include breakpoints-down(sm) {
    @include palette-text-primary;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      line-height: 32px;
      a {
        text-decoration: none;
        font-size: 14px;
        @include palette-text-primary;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .title-nav {
    @include palette-text-primary;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: $spacing3;
    font-weight: $font-bold
  }
  &-desc{
    display: block;
    font-size: 14px;
    margin-bottom: $spacing2
  }
  .collapsible {
    border: none;
    box-shadow: none;
    max-width: 480px;
    margin: 0 auto;
  }
  .collapsible-header {
    background: none;
    box-shadow: none;
    border: none;
    padding: $spacing1 1rem;
    h6 {
      font-size: 15px !important;
      font-weight: $font-bold;
    }
    i {
      margin-right: 0
    }
  }
  .collapsible-body {
    border: none;
    margin-bottom: $spacing4
  }
  .logo {
    text-align: center;
    margin-bottom: $spacing3;
    img {
      width: 64px;
    }
    h6 {
      [dir="ltr"] & {
        color: $palette-common-white;
      }
      @include breakpoints-down(sm) {
        @include palette-text-primary;
      }
    }
  }

  .socmed {
    display: flex;
    margin-bottom: $spacing4;
    @include breakpoints-down(sm) {
      justify-content: center;
    }
    a {
      margin: $spacing1;
      background: rgba(0, 0, 0, 0.12) !important;
      width: 36px;
      height: 36px;
      .icon {
        @include use-theme(color, $palette-secondary-main, $palette-common-white);
      }
    }
    .icon {
      font-size: 24px
    }
  }
  .select-lang.select-outlined .select-wrapper {
    width: 200px;
    display: inherit;
    margin-top: $spacing2;
    @include breakpoints-down(sm) {
      margin: 16px auto 48px;
    }
    .caret {
      @include use-theme(fill, $palette-secondary-main, $palette-common-white);
    }
    input.select-dropdown {
      box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.06);
      @include use-theme(border-color, $palette-secondary-main, $palette-common-white);
      @include use-theme(color, $palette-secondary-main, $palette-common-white);
      height: 2.5rem;
      line-height: 2.5rem;
    }
  }
  .site-map-item {
    @include breakpoints-down('md') {
      padding-bottom: 0 !important;
      padding-top: 0 !important
    }
  }
  .accordion-icon {
    padding: 0
  }
  &.invert {
    @include palette-text-primary;
    .logo {
      h6 {
        @include palette-text-primary
      }
    }
  }
}

.footer-deco {
  position: relative;
  z-index: 80;
  top: 0;
  @include use-theme(background-color, $palette-primary-light, $palette-primary-dark);
  padding-top: $spacing20 * 2;
  @include breakpoints-down(md) {
    padding-top: $spacing10 * 3;
  }
  @include breakpoints-down(xs) {
    padding-top: $spacing20;
  }
  &:before {
    @include use-theme(background-image, url($footer-deco-light), url($footer-deco-dark));
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% auto;
    top: -3px;
    @include left(0);
    content: "";
    width: 100%;
    height: 270px;
    position: absolute;
    z-index: 10
  }
  .decoration {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    @include left(0);
    overflow: hidden;
    clip: rect(0, auto, auto, 0);
    svg {
      position: fixed;
    }
  }
  
  .line-deco {
    left: auto;
    right: 0;
    width: 200px;
    height: 100%;
    position: absolute;
    background: linear-gradient(145deg, $palette-secondary-main 40%, $palette-primary-main 80%);
    @media screen and (min-width: 1400px) {
      display: none;
    }
    @media screen and (min-height: 720px) {
      display: none;
    }
    @include breakpoints-down(md) {
      display: none;
    }
  }

  .left-deco {
    top: 40px;
    fill: $palette-primary-main;
    left: -150px;
    right: auto;
    width: 1200px;
    height: 1500px;
    transform: scale(0.5);
    transform-origin: top left;
    [dir=rtl] & {
      display: none;
    }
    @media screen and (min-width: 1400px) {
      left: 0;
    }
    @include breakpoints-down(md) {
      left: -200px;
    }
    @include breakpoints-down(sm) {
      display: none;
    }
  }
  
  .right-deco-before {
    top: -540px;
    right: -60px;
    left: auto;
    @include use-theme(fill, $palette-primary-light, $palette-primary-dark);
    height: 1500px;
    transform: scale(0.5, 0.6) rotate(180deg);
    transform-origin: center center;
  }
  
  .right-deco {
    top: 40px;
    @include use-theme(fill, $palette-primary-light, $palette-primary-dark);
    left: auto;
    right: -30px;
    height: 1500px;
    transform: scale(0.5);
    transform-origin: top right;
  }

  .action {
    text-align: center;
    padding: spacing(0, 2);
    h4 {
      font-weight: $font-bold;
      margin-bottom: $spacing6;
    }
  }
}
