include titles/title.pug
include cards/movie-thumb.pug

-
  var movieList = [
    {
      title: 'Cras convallis lacus',
      thumb: imgAPI.movie[2]
    },
    {
      title: 'Cras convallis lacus',
      thumb: imgAPI.movie[3]
    },
    {
      title: 'Cras convallis lacus',
      thumb: imgAPI.movie[4]
    }
  ]
.root
  .decoration
    |
    |
    svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px")
      include svg/deco-med-bg.pug
    |
    |
  .container.fixed.width-md-up
    .row.spacing3
      .col-md-3.py-10
        +title-main("left", "Featured", "Movies")
        p.use-text-paragrpah #{$t.movie_landing.new_desc}
      each item in movieList
        .col-md-3.col-sm-4
          +movie-card(item.title, item.thumb)
