mixin simple-thumb(icon, title)
  |
  |
  a.simple-thumb.waves-effect(href=link.movie.detail)
    |
    |
    span.wrap
      span.figure
        span
          i(class=icon)
      |
      |
      span.text #{title}
    |
    |
  |
  |
      
